@charset "UTF-8";
@font-face {
	font-family: "RobotoSlab-Bold";
	src: url('../fonts/robotoslab-bold-webfont.woff?1567475278') format('woff'), url('../fonts/robotoslab-bold-webfont.woff?1567475278') format('woff'), url('../fonts/robotoslab-bold-webfont.eot?1567475278') format('embedded-opentype'), url('../fonts/robotoslab-bold-webfont.svg?1567475278') format('svg');
}

@font-face {
	font-family: "RobotoSlab-Regular";
	src: url('../fonts/robotoslab-regular-webfont.woff?1567475278') format('woff'), url('../fonts/robotoslab-regular-webfont.woff2?1567475278') format('woff2'), url('../fonts/robotoslab-regular-webfont.eot?1567475278') format('embedded-opentype'), url('../fonts/robotoslab-regular-webfont.svg?1567475278') format('svg');
}

@font-face {
	font-family: "HelveticaNeue";
	src: url('../fonts/HelveticaNeue.ttf?1567475278') format('truetype'), url('../fonts/HelveticaNeue.woff?1567475278') format('woff'), url('../fonts/HelveticaNeue.eot?1567475278') format('embedded-opentype'), url('../fonts/HelveticaNeue.svg?1567475278') format('svg');
}

@font-face {
	font-family: "HelveticaNeue-Bold";
	src: url('../fonts/HelveticaNeue-Bold.ttf?1567475278') format('truetype'), url('../fonts/HelveticaNeue-Bold.woff?1567475278') format('woff'), url('../fonts/HelveticaNeue-Bold.eot?1567475278') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.svg?1567475278') format('svg');
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

body {
	font-size: 14px;
	margin: 0;
	color: #ffefd7;
	font-family: "HelveticaNeue";
	font-size: 100%;
	outline: none;
	line-height: 20px;
}

#banner .Banner_Top,
#banner .Banner_Top_Center,
#banner .Banner_Bottom,
#banner .Banner_Left_Top,
#banner .Banner_Left,
#banner .Banner_Left_Bottom,
#banner .Banner_Right_Top,
#banner .Banner_Right,
#banner .Banner_Right_Bottom,
.frameInfo .frameBannerTop,
.frameInfo .frameBannerTopCenter,
.frameInfo .frameBannerBottom,
.frameInfo .frameBannerLeftTop,
.frameInfo .frameBannerLeft,
.frameInfo .frameBannerLeftBottom,
.frameInfo .frameBannerRightTop,
.frameInfo .frameBannerRight,
.frameInfo .frameBannerRightBottom{
	background-image: url('../images/icons-s25afddc66d.png');
	background-repeat: no-repeat;
}

.Wrapper {
	background: url(../images/wrapper.jpg) no-repeat center 0;
}

.Wrapper_bottom {
	background: url(../images/bg-footer.jpg) no-repeat center bottom;
	padding-bottom: 20px;
}

.containerMain {
	width: 1080px !important;
}
.containerMain {
	margin: 0 auto;
	position: relative;
}

.containerMain {
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.containerMain:before,
.containerMain:after {
	content: " ";
	display: table;
}

.containerMain:after {
	clear: both;
}

@media (min-width: 1080px) {
	.containerMain {
		width: 100%;
	}
}

@media (min-width: 1080px) {
	.containerMain {
		width: 1080px;
	}
}

@media (min-width: 1200px) {
	.containerMain {
		width: 1080px;
	}
}

.containerMain-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.containerMain-fluid:before,
.containerMain-fluid:after {
	content: " ";
	display: table;
}

.containerMain-fluid:after {
	clear: both;
}

@media (min-width: 1080px) {
	.containerMain>.navbar-headerNav,
	.containerMain>.navbar-collapse,
	.containerMain-fluid>.navbar-headerNav,
	.containerMain-fluid>.navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (min-width: 1080px) {
	.navbar>.containerMain .navbar-brand,
	.navbar>.containerMain-fluid .navbar-brand {
		margin-left: -5px;
	}
}

.jumbotron .containerMain {
	max-width: 100%;
}

@media screen and (min-width: 1080px) {
	.jumbotron {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.containerMain .jumbotron,
	.containerMain-fluid .jumbotron {
		padding-left: 60px;
		padding-right: 60px;
	}
	.jumbotron h1,
	.jumbotron .h1 {
		font-size: 63px;
	}
}

.NavTop {
	width: 100%;
	position: relative;
}

.MainContent {
	position: relative;
}

.LogoCT {
	margin: 40px 0 0px 0px;
	display: block;
}

#banner {
	position: relative;
	z-index: 1;
}

#banner .Banner_Top_Center {
	background-position: -170px -138px;
	height: 33px;
	width: 200px;
	position: absolute;
	top: -27px;
	left: 430px;
	z-index: 3;
}

#banner .Banner_Top {
	background-position: 0 -138px;
	height: 33px;
	width: 150px;
	position: absolute;
	top: -27px;
	left: 31px;
	z-index: 3;
}

#banner .Banner_Bottom {
	background-position: 0 -47px;
	height: 24px;
	width: 200px;
	position: absolute;
	bottom: -219px;
	left: 31px;
	z-index: 3;
}

#banner .Banner_Left_Top {
	background-position: -319px -405px;
	height: 250px;
	width: 70px;
	position: absolute;
	top: -24px;
	left: -38px;
	z-index: 3;
}

#banner .Banner_Left {
	background-position: -319px -500px;
	height: 200px;
	width: 70px;
	position: absolute;
	top: -24px;
	left: -38px;
	z-index: 3;
}

#banner .Banner_Left_Bottom {
	background-position: -319px -500px;
	height: 247px;
	width: 70px;
	position: absolute;
	top: -24px;
	left: -38px;
	z-index: 3;
}

#banner .Banner_Right_Top {
	background-position: -120px -405px;
	height: 250px;
	width: 76px;
	position: absolute;
	top: -24px;
	right: -44px;
	z-index: 3;
}

#banner .Banner_Right {
	background-position: -120px -500px;
	height: 200px;
	width: 76px;
	position: absolute;
	top: -24px;
	right: -44px;
	z-index: 3;
}

#banner .Banner_Right_Bottom {
	background-position: -120px -500px;
	height: 247px;
	width: 76px;
	position: absolute;
	top: -24px;
	right: -44px;
	z-index: 3;
}

.frameInfo {
	position: relative;
	z-index: 1;
}

.frameInfo .frameBannerTopCenter {
	background-position: -170px -138px;
	height: 33px;
	width: 200px;
	position: absolute;
	top: -27px;
	left: 430px;
	z-index: 3;
}

.frameInfo .frameBannerTop {
	background-position: 0 -138px;
	height: 33px;
	width: 150px;
	position: absolute;
	top: -27px;
	left: 31px;
	z-index: 3;
}

.frameInfo .frameBannerBottom {
	background-position: 0 -47px;
	height: 24px;
	width: 200px;
	position: absolute;
	bottom: -219px;
	left: 31px;
	z-index: 3;
}

.frameInfo .frameBannerLeftTop {
	background-position: -319px -405px;
	height: 250px;
	width: 70px;
	position: absolute;
	top: -24px;
	left: -38px;
	z-index: 3;
}

.frameInfo .frameBannerLeft {
	background-position: -319px -500px;
	height: 200px;
	width: 70px;
	position: absolute;
	top: -24px;
	left: -38px;
	z-index: 3;
}

.frameInfo .frameBannerLeftBottom {
	background-position: -319px -500px;
	height: 247px;
	width: 70px;
	position: absolute;
	top: -24px;
	left: -38px;
	z-index: 3;
}

.frameInfo .frameBannerRightTop {
	background-position: -120px -405px;
	height: 250px;
	width: 76px;
	position: absolute;
	top: -24px;
	right: -44px;
	z-index: 3;
}

.frameInfo .frameBannerRight {
	background-position: -120px -500px;
	height: 200px;
	width: 76px;
	position: absolute;
	top: -24px;
	right: -44px;
	z-index: 3;
}

.frameInfo .frameBannerRightBottom {
	background-position: -120px -500px;
	height: 247px;
	width: 76px;
	position: absolute;
	top: -24px;
	right: -44px;
	z-index: 3;
}

.footer {
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	color: #88775e;
	line-height: 19px;
	font-size: 12px;
}

.footer a {
	color: #88775e;
	text-decoration: underline;
	margin: 0 10px 00px;
}

.footer p {
	margin: 0 0 10px;
	color:#88775e; 
	font-size:12px;
}

.footer .logocmn {
	float: left;
	margin-left: 400px;
}

.media-right,
.media>.pull-right {
	padding-left: 10px;
}

.media-left,
.media>.pull-left {
	padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
	display: table-cell;
	vertical-align: top;
}

.media-middle {
	vertical-align: middle;
}

.media-bottom {
	vertical-align: bottom;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

*{
	cursor: url(../images/cur1.ani), url(../images/cur1.png), auto;
}

<a href="http://www.cursors-4u.com/cursor/2005/04/22/cur1-11.html" target="_blank" title="Electricity Lightning"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Electricity Lightning" style="position:absolute; top: 0px; right: 0px;" /></a>

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}/* Full-width input fields */
